<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sounds</key>
	<array>
		<dict>
			<key>free</key>
			<true/>
			<key>name</key>
			<string>Alarm</string>
			<key>filename</key>
			<string>Background__Alarm__cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<true/>
			<key>name</key>
			<string>Old School Clock</string>
			<key>filename</key>
			<string>Old School Clock_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>School Bell</string>
			<key>filename</key>
			<string>School Bell_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>British Ambulance</string>
			<key>filename</key>
			<string>British Ambulance_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Air Raid</string>
			<key>filename</key>
			<string>Air Raid_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Burglar Alarm</string>
			<key>filename</key>
			<string>Burglar Alarm_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Church Bell</string>
			<key>filename</key>
			<string>Church Bell_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Siren</string>
			<key>filename</key>
			<string>Siren_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Spaceship</string>
			<key>filename</key>
			<string>Spaceship_cut.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Techy</string>
			<key>filename</key>
			<string>Techy_cut.m4a</string>
		</dict>
	</array>
	<key>gentle</key>
	<array>
		<dict>
			<key>free</key>
			<true/>
			<key>name</key>
			<string>Vibraphone</string>
			<key>filename</key>
			<string>Vibraphone.M4A</string>
		</dict>
		<dict>
			<key>free</key>
			<true/>
			<key>name</key>
			<string>Chimes</string>
			<key>filename</key>
			<string>Chimes.M4A</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Ethereal Piano</string>
			<key>filename</key>
			<string>Ethereal Piano.M4A</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Harp</string>
			<key>filename</key>
			<string>Harp.M4A</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Song Bird</string>
			<key>filename</key>
			<string>Song Bird.M4A</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Gentle Rise</string>
			<key>filename</key>
			<string>Gentle Rise.M4A</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Rooster Call</string>
			<key>filename</key>
			<string>Rooster Call.M4A</string>
		</dict>
	</array>
</dict>
</plist>
