<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
	<array>
		<dict>
			<key>name</key>
			<string>Default</string>
			<key>filename</key>
			<string>BlackBG.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beach</string>
			<key>filename</key>
			<string>beach.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chalkboard</string>
			<key>filename</key>
			<string>chalkboard.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coast</string>
			<key>filename</key>
			<string>rainbow.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Field</string>
			<key>filename</key>
			<string>wheat.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canal</string>
			<key>filename</key>
			<string>canal.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Drops</string>
			<key>filename</key>
			<string>drops.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fall</string>
			<key>filename</key>
			<string>trees.png</string>
		</dict>
	</array>
</dict>
</plist>
