<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sounds</key>
	<array>
		<dict>
			<key>free</key>
			<true/>
			<key>name</key>
			<string>Rain Forest</string>
			<key>filename</key>
			<string>Rain Forest.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<true/>
			<key>name</key>
			<string>Ocean Waves</string>
			<key>filename</key>
			<string>Ocean Waves.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Windy Day</string>
			<key>filename</key>
			<string>Windy Day.aif</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thunderstorm</string>
			<key>free</key>
			<false/>
			<key>filename</key>
			<string>Thunderstorm.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Rainstorm</string>
			<key>filename</key>
			<string>Rainstorm.m4a</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Lake Shore</string>
			<key>filename</key>
			<string>Lake Shore.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Countryside</string>
			<key>filename</key>
			<string>Countryside.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>City Sounds</string>
			<key>filename</key>
			<string>City Sounds.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Waterfall</string>
			<key>filename</key>
			<string>Waterfall.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Rain on Pavement</string>
			<key>filename</key>
			<string>Rain on Pavement.aif</string>
		</dict>
		<dict>
			<key>free</key>
			<false/>
			<key>name</key>
			<string>Beach</string>
			<key>filename</key>
			<string>Beach.aif</string>
		</dict>
	</array>
</dict>
</plist>
